# Virtual environment
venv/
env/
.venv/

# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment & local configs
.env
.DS_Store
*.log

# Netlify local cache
.netlify/
